body{
    overflow-x: hidden;
}
nav{
    background-color: #141212;
    border-bottom: 1px solid #916108;
}
.brownie{
    color: #d38f12;
    font-size: 55px;
    font-weight: 400;
}
.the{
    color: #916108;
    font-size: 20px;
    position: relative;
    bottom: 15px;
}
#navbarNav a {
    color: #916108;
}
section{
    background-image: url("images/body-bg.png");
}
section h4{
    color: #916108;
}
section h5{
    color: #d38f12;
}
section p{
    color:gray;
    text-align: justify;
}
.blue-highlight{
    color: #916108;
   
}
.button{
    color: white;
    background-color:#916108 ;
    border: none;
    padding: 5px 28px;
    border-radius: 7px;
}

.row img{
    border-radius: 20px;
    border: 1px solid #916108;   
}
.row a:visited{
    color: #ca929c;
}

.team{
    color: #d38f12;
}

.section1{
    margin-bottom: 120px;
}
.section2{
    margin-bottom: 120px;
    
}
.navbar .navbar-toggler{
    background-color: #916108;
}

#about h6{
    color: #916108;

}
#about .orange-line{
    display:inline-block;
    height: 1px;
    width:200px;
    background-color: #dba94d ;
    position: relative;
    left: 100px;
}
